@import "tailwindcss";

@theme {
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;
  --color-red-danger: #b12c4d;
  --color-cinza-100: #f9f9fb;
  --color-cinza-200: #e4e6ec;
  --color-cinza-300: #cdcfd5;
  --color-cinza-400: #74798b;
  --color-cinza-500: #4d505c;
  --color-cinza-600: #1f2025;
  --font-display: "Open Sans", sans-serif;
}
body {
  font-family: var(--font-display);
  background-color: #e4e6ec;
}
